<form method="POST" action="/questions">
  <input type ="hidden" name="question[survey_id]" value='#'>
  <input type="text" name="name" placeholder="write question here">
  <input type ="submit" value="add question">
</form>

