<form class="question-form" method="POST" action="/surveys/<%= survey_id %>/questions">
  <input class="question-input" type="text" name="question[name]" placeholder="write question here">
  <input type ="submit" value="add question">
</form>

