.header {
  border: solid #D8D8D8 4px;
  margin-bottom: 100px;
  background-color: #58FA82;
}

.header li a{
  color: #6E6E6E;
  text-decoration: none;
  font-size: 18px;
  padding: 3px;
}

.header li{
  border: solid #D8D8D8 2px;
  display: inline-block;
  padding: 5px;
  background-color: #F2F2F2;
  border-radius: 12px;
}


main {
  width: 900px;
  margin: 50px auto;
}

section {
  background-color: #FFF8E7;
  margin-bottom: 20px;
  padding: 10px;

}

section a {
  font-family: Helvetica;
  font-size: 1.3em;
  text-decoration: none;
  color: #7F7C73;
}

.choice-placeholder {
  padding-left: 40px;
}


