<form class="choice-form" method = "POST" action="/questions/<%= question_id %>/choices">
  <input class="choice-input" type="text" name="choice[name]" placeholder="write choice here">
  <input type ="submit" value="add choice">
</form>
