<section class="survey-index-item">
  <a class="survey-title" href="/surveys/<%= survey.id %>" ><%= survey.title %></a>
  <p>
  <a class="survey-user"href="/users/<%= survey.user.id %> ">by: <%= survey.user.user_name %> </a></p>
</section>
