  <div class="yo-mama">
    <h1> Thanks for taking: <%= @survey_taken.survey.title %></h1>
    <h3><%= @survey_taken.user.user_name %> appreciates your input!</h3>
    <img src="https://media.giphy.com/media/YKZPCAx0mtkoE/giphy.gif" alt="monkey">
  </div>