<h1>Thanks for taking <%= @survey_taken.survey.title %></h1>
<h2><%= @survey_taken.survey.user.user_name %> appreciates your input!</h2>
<img src="http://i.myniceprofile.com/438/43868.gif" alt="monkey">

