<h2>create a new survey</h2>

<form class="title-form" method="POST" action="/surveys">
  <input type="text" name="survey[title]" placeholder="name your survey">
  <input type ="submit" value="submit">
</form>

<a class="add-question-button" href="/questions/new">add question</a>

<div class="survey-placeholder">
  <%=erb :"surveys/_title_partial" if @survey%>
</div>

<!-- <div class="question-form-placeholder">

</div> -->

<div class="question-placeholder">
<!--   <erb :'questions/_question_partial' if @question> -->
</div>



