<div class="create-survey-header">Create a new survey:</div>

<form class="title-form" method="POST" action="/surveys">
  <input type="text" name="survey[title]" placeholder="title your survey">
  <input type ="submit" value="add title">
</form>

<!-- Add a status column to surveys, set it to unpublished to start. Change it to published once the survey posts -->

<div class="survey-placeholder">
  <%=erb :"surveys/_title_partial" if @survey%>
</div>

